/* ======================================= 
   index
======================================= */

 /* ------- 
    1. Navbar 
    2. Hero 
    3. About Us
    4. Category Card
    5. Client Review
    6. Gallery
    7.
    8.
    9.
    10.
    11.
    12. Footer
-------  */

/* =======================================  
   index
======================================= */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=The+Nautigal&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   --theme-color: #EEB952;
   /* --theme-color--two: #1A1E27; */
   --theme-color--two: #201C1D;
   --box-shadow: box-shadow: #959da533 0px 8px 24px;
   --theme-font: 'Bitter', serif;
}

/* =================== 1. Navbar code Start =================== */

.navbar{
    background: transparent;
	padding: 1rem 0;
    transition: .7s ease-out;
    margin-top: 3rem;
}

.shadow-custom{
	box-shadow: #959da533 0px 8px 24px;
}
.nav-area{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}
.navbar-brand{
	color: #fff;
	font-weight: 700;
    display: none;
}
.navbar-brand img{
    width: 60%;
}
.navbar-brand2 img{
    width: 100%;
    transition: 1s;
}
.navbar-nav li{
	margin: 0 1rem;
	transition: 1s;
}

.nav-item:last-child{
    margin-right: 0 !important;
}

.navbar-nav li a{
	color: #fff;
    text-transform: uppercase;
}

.navbar-nav li a:hover{
    color: var(--theme-color);
}

.fixed-top{
    transition: 1s;
    background-color: var(--theme-color--two);
}

.fixed-top .nav-link, .fixed-top {
    color: var(--theme-color);
}

.fixed-top .navbar{
	padding: .8rem 0;
    margin: 0;
}

.fixed-top .navbar-brand2 img{
    width: 60%;
    margin: auto;
}
/* =================== Navbar code End =================== */

/* =================== 2. Home Hero Start  ===================*/

.hero-section {
    background: url("../Images/HeroBanner.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero.content h1{
    color: #EEB952;
    font-size: 4rem;
    text-align: center;
    font-family: var(--theme-font);
}
/* =================== Home Hero End =================== */



/* =================== 3. About code Start =================== */
.about-section{
    background-color: #fff;
}

.heading-zone{
    text-align: center;
    padding-bottom: 2rem;
}

.heading-zone h2{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--theme-font);
}

.heading-zone h2 span{
    color: #EEB952;
}

.about-img img{
    width: 100%;
}
/* =================== About code End =================== */


/* =================== 4. Food Category code Start =================== */
.food-category{
    background-color: var(--theme-color--two);
}

.food-card{
    padding: 40px 0;
    text-align: center;
    color: #fff;
    border: 1px solid #EEB952;
    padding: 1rem;
    transition: .3s ease-in-out;
    border-radius: 5px;
}

.food-card:hover{
    border: 1px solid #fff;
}

.food-card h4{
    color: var(--theme-color);
    margin-top: 2rem;
    font-size: 1.2rem;
}

/* =================== Food Category code End =================== */


/* =================== 5. Client Review code Start =================== */
.client-review{
    background-color: #F5F4F4;
    padding: 100px 0;
}

.single-review{
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 2px solid var(--theme-color);
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.single-review::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #201c1d;
    transition: .3s ease-out;
}

.single-review:hover:after{
    height: 100%;
}

.single-review:hover .review-content, .single-review:hover .client-image h4{
     color: #fff;
}

.single-review:hover{
    transform: translateY(-1rem);
    transition: .7s ease-out;
}

.client-image{
    width: 40%;
    z-index: 2;
}


.client-image h4{
    font-size: 1rem;
    text-transform: uppercase;
    /* transform: translateY(-.7rem); */
    text-align: center;
}

.client-image img{
    width: 80%;
    /* transform: translateY(-1.5rem); */
    z-index: 10;
}

.review-content{
    width: 60%;
    z-index: 2;
    transition: .7s ease-out;
    margin: auto 1rem;
}

.quote{
    font-size: 3rem;
    color: var(--theme-color);
}
/* =================== Client Review code End =================== */


/* =================== Gallery code Start =================== */
.gallery-area{
    padding: 80px 0;
    background-color: #EEB952;
}

.single-gallery{
    text-align: center;
    position: relative;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #201c1dd3;
    height: 0;
    width: 0;
    transition: .3s;
}

.single-gallery:hover .overlay{
    height: 100%;
    width: 100%;
}

.gallery-img img{
    width: 100%;
    position: relative;
    /* border-radius: .5rem; */
}

.gallery-img small{
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    z-index: 1;
    opacity: 0;
}

.single-gallery:hover .gallery-img small{
    opacity: 1;
}

.gallery-heading small{
    font-size: 1.2rem;
    color: #fff;
}

.gallery-heading h2{
    font-size: 3.5rem;
    font-family: var(--theme-font);
    font-weight: 700;
}

/* =================== Gallery code End =================== */



/* =================== 12. Footer Start =================== */
.footer-area{
    background-color: var(--theme-color--two);
    padding: 80px 0 10px 0;
}

.hr-line{
    color: #fff;
}

.footer-menu h4{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.footer-menu .contact a{
    text-decoration: none;
    color: #EEB952;
    font-size: 2rem;
}

.footer-menu p{
    /* color: #7C8279; */
    color: #c2c2c2;
}

.footer-menu img{
    width: 60%;
    float: right;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 1rem 0;
}

.footer-social{
    float: right;
}

.footer-social a{
    color: #201C1D;
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    padding: .5rem;
    border-radius: 5px;
    margin: 0 .5rem;
    transition: .3s ease-in-out;
}

.footer-social a:hover{
    background: none;
    color: var(--theme-color);
}

/*=================== Footer End =================== */

.theme-button{
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    color: #201C1D;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
}

.theme-button:hover{
    color: var(--theme-color--two);
    background-color: #fff;
    transform: translateX(-15px);
}

.section-padding{
    padding: 80px 0 40px 0;
}

.title-left{
    border-bottom: 2px solid #c2c2c2;
    position: relative;
}

.title-left h2{
    font-size: 1.2rem;
    position: relative;
    padding: .5rem 0;
}

.title-left::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: #EEB952;
    width: 10%;
    height: 2px;
}